extends layout

block content
  h1= title
  meta(charset="utf-8")  
  meta(name="viewport", content="width=device-width,initial-scale=1, shrink-to-fit=no")
  - let items = results
  button(href="/create") Create a table
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/table/update?id=${item._id}\")` 
        - let detailView = `dispatch(\"/table/detail?id=${item._id}\")` 
        - let deleteView = `dispatch(\"/table/delete?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Table #{item.material} #{item.length} x #{item.width} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
          button.btn( class="btn-primary ml-1", onclick= detailView) Detail View 
          button.btn( class="btn-primary ml-1", onclick= deleteView) Delete  
   
  script.
    function dispatch(path){ 
      window.location.href=path 
    }   